extends ../baseEmail

block content
  p Hi there,
  
  p #{inviterName} has invited you to join the team <strong>#{teamName}</strong> on Runway as a <strong>#{role}</strong>.
  
  .button-container
    a(href=inviteUrl class="button") Accept Invite
  
  p Or copy and paste this link into your browser:
  p.small #{inviteUrl}
  
  p.small This invite will expire in #{expiresInDays} days.
  
  p.small If you don't recognize this invitation, you can safely ignore this email.